/*-----------------------------------------------------------NAVBAR CSS--------------------------------------------------------------------*/
.navbar{
    max-width: 100%;
    height: 60px;
    position: fixed;
    width: 100%;    
    display: flex;
    justify-content:space-around;
    align-items: center;
    top:0;
    margin-bottom: 2rem;
    background-color: white;
    gap:3rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 80px;
    max-width: 100%;  
}

.loginbutton{
    width: 90px;
    height: 32px;
    font-size: 16px;
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius: 10px;
    outline: none;
    border:none;
    margin-left: 20px;
    margin-right: 20px;
}

.searchbox{
    max-width: 500px;
    position: relative;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.searchbar{
    width: 100%;
    border:1px solid lightgray;
    outline: none;
    height: 2rem;
    border-radius: 24px;
    padding-left: 16px;
}

.resultlist {
    position: absolute;
    margin-top: 1rem;
    border: 1px solid lightgray;
    max-width: 100%;
    background-color: white;
    scrollbar-width: thin;
    list-style-type: none; /* Removes the bullet points */
    padding: 0; /* Removes default padding */
}

.resultlist li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.resultlist li:last-child {
    border-bottom: none; /* Removes the border from the last item */
}

.resultlist li:hover {
    background-color: #f0f0f0; /* Changes background on hover */
}

.news-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    text-align: center;
  }
  
  .news-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .news-card h3 {
    margin: 16px 0;
    font-size: 1.25em;
  }
  
  .news-card p {
    color: #777;
  }